{template "content","header"}
<div id="booking" style="display:block;">
    <div class="booking-box row clearfix">
        <div class="booking-title clearfix">
            <a class="booking-title-text" href="/"></a>
            <div class="booking-title-list clearfix">
                <div class="booking-nav booking-nav-first"><span class="icon-step ">培优计划</span></div>
                <div class="booking-nav"><span class="icon-step icon-step-cur">培优课程</span></div>
                <div class="booking-nav"><span class="icon-step">培优实战</span></div>
                <div class="booking-nav"><span class="icon-step icon-step-cur">培优反馈</span></div>
            </div>
        </div>
        <div class="booking-main fl">
            <div class="booking-main-inner">
                <div class="inner-nav clearfix">
                    {php $j=1;}
                    {loop subcat($catid) $v}
                        {php if($v['type']!=0) continue;}
                            <div class="inner-nav-item {if $j == 1}cur{/if}">
                                <a href="javascript:;" title="{$v[catname]}">{$v[catname]}</a>
                            </div>
                        {$j++}
                    {/loop}
                </div>
                <div class="inner-tip clearfix">
                    为你找到<strong>8</strong>课程
                    <span class="inner-tip-con fr hide">培优提示:</span>
                    <span class="inner-tip-tips fr">天亮培优值得托付</span>
                </div>
                <div class="course-detail">
                    {php $j=1;}
                    {loop subcat($catid) $v}
                        {php if($v['type']!=0) continue;}
                        {pc:content action="lists" catid="$v[catid]" num="5" order="id DESC" moreinfo="1"}
                            <div class="course-list">
                                {loop $data $v}
                                <a href="{$v[url]}" target="_blank">
                                    <div class="img fl">
                                        <div class="img_inside">
                                            <img src="{$v[courseimg]}" title="{$v[title]}" alt="{$v[title]}">
                                        </div>
                                    </div>
                                    <div class="fl course-inner">
                                        <h3 class="font_size20">{$v[title]}</h3>
                                        <ul class="font_size14 fl">
                                            <li>{str_cut($v[features], 80, '...')}</li>
                                            <li>{str_cut($v[featuress], 80, '...')}</li>
                                            <li>{str_cut($v[featuresss], 80, '...')}</li>
                                        </ul>
                                        <div class="speaker fl">
                                            <div class="fl">
                                                <img src="{$v[thumb]}" title="{$v[course]}" alt="{$v[course]}">
                                            </div>
                                            <div class="information font_size14 fl">
                                                {if $v[subject] == ''}
                                                    <p>课程概况：</p>
                                                    <p>{$v[abstract]}</p>
                                                {else}
                                                    <p>适合对象：</p>
                                                    <p>{$v[subject]}</p>
                                                {/if}
                                                <p class="text font_size12 font_color_gray">{$v[description]}</p>
                                                <p class="font_color_black">课程地点：{$v[address]}</p>
                                            </div>
                                            <div class="join font_size12 font_color_gray fr">
                                                <p class="font_size14 font_color_black">课程内容：</p>
                                                <p><em class="font_size24 font_color_black">{str_cut($v[course], 16, '...')}</em></p>
                                                <button>了解详情</button>
                                                <p>免费咨询</p>
                                                <p>027-81771511</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                {/loop}
                            </div>
                         {/pc}
                         {$j++}
                    {/loop}
                    <div id="pages" class="text-c"></div>
                </div>
            </div>
        </div>
        <div class="booking-side fr">
            <div class="side-entry clearfix">
                <div class="entry-shadow"></div>
                <div class="entry-title clearfix">
                    <h3 class="entry-inner">天亮社区</h3>
                </div>
                <div class="entry-info">
                    <div class="entry-content">
                        <div class="content-box content-pros">
                            <div class="content-box-wrap">
                                <div class="wrap-scroll wrap-light wrap-vertical wrap-inside">
                                    <div class="wrap-container">
                                        <div class="wrap-list">
                                            {pc:content action="category" catid="13" num="6" siteid="$siteid" order="listorder ASC"}
                                                {loop $data $r}
                                                    <div class="wrap-item wrap-item-flights">
                                                        <div class="wrap-item-header">
                                                            <span><em>{$r[catname]}</em><i></i></span>
                                                            <a href="{$r[url]}" class="wrap-item-btn">查看</a>
                                                        </div>
                                                    </div>
                                                {/loop}
                                            {/pc}
                                            {pc:get sql="select * from phpcms_category where catid in(16,17,18,19,20,21)" return="data"} 
                                                {loop $data $r} 
                                                    <div class="wrap-item wrap-item-flights">
                                                        <div class="wrap-item-header">
                                                            <span><em>{$r[catname]}</em><i></i></span>
                                                            <a href="{$r[url]}" class="wrap-item-btn">查看</a>
                                                        </div>
                                                    </div>
                                                {/loop}
                                            {/pc} 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{APP_PATH}framework/src/require.js" data-main="{APP_PATH}dev/page/booking/booking.js"></script>
{template "content","footer"}