@import "../../util/sass/lib/util";

.print-manage{
    .manage-title {
        font-size : 2rem;
        height : 5rem;
        line-height : 5rem;
        padding-left : 2rem;
    }

    .print-list-wrap {
        padding : 2rem;
    }

    .print-list-wrap-single {
        display : block;
        padding : 2.5rem 2rem;
    }

    .print-list-wrap-single-tap:active{
        background: rgba(31,56,88,0.1);
    }

    .print-list-img {
        width : 2rem;
        height : 2rem;
        border-radius : 50%;
        margin-right : 2rem;
        margin-left : .5rem;
    }

    .print-list-text-content {
        margin-right : 2rem;
    }

    .print-list-text-content-single {
        line-height : 3rem;
    }

    .print-list-arrow{
        position: relative;
        right: -2rem;
    }

    .print-list-status{
        font-size: 2.17rem;
        color: #5D85E0;
        width: 8rem;
        height: 4rem;
        line-height: 4rem;
        border: 1px solid #5D85E0;
        border-radius: 2rem;
        text-align: center;
        &.status-online{color: $successColor; border:1px solid $successColor;}
        &.status-offline{color: $offColor;border:1px solid $offColor;}
        &.status-fault{color: $errorColor;border:1px solid $errorColor;}
    }

    .print-list-status-update{
        display: inline-block;
        color:#fff;
        background-color: #5D85E0;
        border: 1px solid #fff;
    }

    .print-list-title {
        color : #333;
        font-size : 2rem;
        line-height : 2rem;
    }

    .print-list-title-single {
        font-size : 2.5rem;
        color : #333;
        padding-bottom : 0;
        &.print-list-title-single-sn, &.print-list-title-single-name{
            text-align: right;
            width: 40rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .print-list-text {
        color : #999;
        font-size : 2rem;
        line-height : 18px;
    }
}

.print-task{
    background-color: #ffffff;
    
    .print-task-list{
        height: 100%;
        display: box;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        overflow-y: auto;
        .task-print{
            -webkit-box-flex: 0;
            -moz-box-flex: 0 0 auto;
            -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        }
        .task-title {
            background-color: #f2f8ff;
            font-size : 2rem;
            height : 5rem;
            line-height : 5rem;
            padding-left : 2rem;
            -webkit-box-flex: 0;
            -moz-box-flex: 0 0 auto;
            -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        }
        .task-list{
            -webkit-box-flex: 1;
            -moz-box-flex: 1 1 auto;
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            position: relative;
            height: 100%;
            border-bottom: 0;
            .task-list-item{
                &.task-list-item-print{
                    position: relative;
                    height: 8rem;
                    line-height: 8rem;
                    .print-list-wrap-single{
                        padding: 0;
                    }
                    p{
                        font-size: 2.5rem;
                    }
                    .task-list-item-wrap{
                        .task-list-item-before{
                            width: 31rem;
                            .task-list-item-order{
                                margin-left: 2rem;
                                margin-right: 2rem;
                                text-align: left;
                                color: #999999;
                            }
                            .task-list-item-name{
                                width: 20rem;
                                p{
                                    width: 25rem;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                }
                            }
                        }
                        .task-list-item-now{
                            width:4rem;
                            height: 8rem;
                            line-height: 8rem;
                            .print-list-text-content-single{
                                .print-list-status{
                                    margin: 2rem auto;
                                }
                            }
                        }
                        .task-list-item-after{
                            height: 8rem;
                            line-height: 8rem;
                            text-align: right;
                            .task-list-item-page{
                                padding-right: 2rem;
                                .print-list-text-info{
                                    padding-right: 3rem;
                                    height: 3rem;
                                    line-height: 3rem;
                                    margin: 2.5rem 0;
                                }
                                .print-list-text-super{
                                    width: 0;
                                    height: 0;
                                    border-width: 1rem 0.8rem 0;
                                    border-style: solid;
                                    border-color: #5881E0 transparent transparent;
                                    position: absolute;
                                    top: 3.5rem;
                                    right: 2rem;
                                }
                            }
                        }
                        &:after{
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            border-bottom: 1px solid #EAEAEA;
                            bottom: 0;
                            left: 2rem;
                        }
                    }
                }
            }
        }
        .print-list-text-content-info{
            max-width: 40rem;
            .print-list-title-single-name{
                font-size: 3rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                .print-list-title-single-text{
                    position: relative;
                    display: inline-block;
                    text-indent: 2rem;
                    padding-left: 1rem;
                    max-width: 40rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    &:before{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: .25rem;
                        width: 2rem;
                        height: 2rem;
                        line-height: 2rem;
                        display: block;
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                    }
                    &.print-status-success:before{
                        background-image:url(../../images/check@3x.png)
                    }
                    &.print-status-error:before{
                        background-image:url(../../images/Notice@3x.png)
                    }
                    &.print-status-empty:before{
                        background-image:url(../../images/Notice@3x.png)
                    }
                    &.print-status-offline:before{
                        background-image:url(../../images/off_line@3x.png)
                    }
                }
            }
        }
    }
    .scroll-view-empty{
        .t-scroll-view-inner{
            height: 100%;
            .list-item{
                height: 100%;
                background-color: #f2f8ff;
                .t-group-list{
                    background-color: #f2f8ff;
                    border: 0;
                    .t-group-list-item{
                        &:after{
                            border-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .print-list-wrap {
        padding : 2rem;
    }

    .print-list-wrap-single {
        display : block;
        padding : 2.5rem 2rem;
    }

    .print-list-wrap-single-tap:active{
        background: rgba(31,56,88,0.1);
    }

    .task-list-empty{
        display: block;
        text-align: center;
        height: 100%;
        width: 100%;
        padding-top: 26rem;
        .task-list-empty-img{
            width: 19rem;
            height: 19rem;
            background-image: url(../../images/blank@3x.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: block;
            text-align: center;
            margin: 0 auto;
        }
        .task-list-empty-text{
            font-size: 2.5rem;
            color: #999999;
            margin-top: 3rem;
            text-align: center;
        }
    }

    .print-list-wrap-single-success{
        p{
            color: #5D85E0;
        }
    }

    .print-list-img {
        width : 2rem;
        height : 2rem;
        border-radius : 50%;
        margin-right : 2rem;
        margin-left : .5rem;
    }

    .print-list-text-content {
        margin-right : 2rem;
    }

    .print-list-text-content-single {
        line-height: 3rem;
        &.print-list-text-content-single-status{
            width: 2rem;
            margin-right: 1rem;
        }
    }

    .print-img-status{
        width: 2rem;
        height: 2rem;
        margin: .5rem;
        &.print-status-success, &.print-status-error, &.print-status-offline, &.print-status-empty{
            width: 2rem;
            height: 2rem;
            display: block;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        &.print-status-success{
            background-image:url(../../images/check@3x.png)
        }
        &.print-status-error{
            background-image:url(../../images/Notice@3x.png)
        }
        &.print-status-empty{
            background-image:url(../../images/Notice@3x.png)
        }
        &.print-status-offline{
            background-image:url(../../images/off_line@3x.png)
        }
    }

    .print-list-title {
        color : #333;
        font-size : 2rem;
        line-height : 2rem;
    }

    .print-list-title-single {
        font-size : 2.5rem;
        color : #333;
        padding-bottom : 0;
        .print-list-title-single-name{
            width: 40rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .print-list-text-info {
        font-size : 2rem;
        color : #333;
        padding-bottom : 0;
    }

    .print-list-status{
        width: 3rem;
        height: 3rem;
        display:block;
        margin:0 auto;
        background-repeat:no-repeat;
        background-size:100% 100%;
        &.print-status-waiting{
            width: 3rem;
            height: 4rem;
            background-image:url(../../images/wait@3x.png)
        }
        &.print-status-printing{
            width: 4rem;
            height: 4rem;
            background-image:url(../../images/printer@3x.png)
        }
        &.print-status-success{
            width: 3rem;
            height: 3rem;
            background-image:url(../../images/check2@3x.png)
        }
        &.print-status-error{
            width: 3rem;
            height: 3rem;
            background-image:url(../../images/Notice@3x.png)
        }
        
        &.print-status-waiting-mine{
            width: 3rem;
            height: 4rem;
            background-image:url(../../images/wait@3x.png)
        }
        &.print-status-printing-mine{
            width: 4rem;
            height: 4rem;
            background-image:url(../../images/printer02@3x.png)
        }
        &.print-status-success-mine{
            width: 3rem;
            height: 3rem;
            background-image:url(../../images/check2@3x.png)
        }
        &.print-status-error-mine{
            width: 3rem;
            height: 3rem;
            background-image:url(../../images/Notice@3x.png)
        }
    }

    .print-list-text {
        color : #999;
        font-size : 2rem;
        line-height : 18px;
    }

    html, body{
        background-color: #f2f2f2;
        height: 100%;
    }

    .demo-item {
        height: 80px;
        line-height: 80px;
        text-align: center;
        margin-bottom: 10px;
        background-color: #e2e2e2;
    }

    .demo-item:last-child {
        margin-bottom: 0;
    }

    .other1 {
        background-color: green;
    }

    .other2 {
        background-color: #666;
    }

    /* loading */
    .task-list-more{
        display: none;
        color:#9b9b9b;
        text-align:center;
        margin: 1.5rem auto;
        p{
            font-size:2rem;
            color:#9B9B9B;
        }
    }
}

.print-ink{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f8ff;
    .print-ink-chart{
        width:100%;
    }
    .print-ink-title{
        font-size: 4rem;
        margin-top: 3rem;
        color: #333333;
    }
}

.print-inks{
    background-color: #f2f8ff;
    .inks-list{
        .inks-box{
            .inks-title{
                font-size: 2rem;
                color: #999999;
                height: 5rem;
                line-height: 5rem;
                text-indent: 2.5rem;
            }
            .inks-inner{
                background-color: #fff;
                .inner-item{
                    width: 100%;
                    display: inline-block;
                    .item-title{
                        font-size: 2.5rem;
                        height: 3rem;
                        line-height: 3rem;
                        color: #333333;
                        margin: 2.5rem;
                        float: left;
                    }
                    .progress-inboxs{
                        float: left;
                        width: 45rem;
                        height: 48px;
                        margin: 2rem 0;
                        border-radius:6px;
                        border:1px solid rgba(153,153,153,1);
                    }
                    &.inner-item-common{
                        .progress-inboxs{
                            .progress-inboxs-bar{
                                height: 38px;
                                margin: 4px 6px;
                                .t-progress{
                                    height: 36px;
                                    &.with-label{
                                        position: relative;
                                        padding-right: 0;
                                        .bar-label{
                                            position: absolute;
                                            color: #333333;
                                            top: 1px;
                                            right: -6rem;
                                            font-size: 2rem;
                                        }
                                    }
                                    .progress-bar{
                                        background-color: #ffffff;
                                        .bar-core{
                                            border-bottom-left-radius: 6px;
                                            border-top-left-radius: 6px;
                                            border-bottom-right-radius: 0;
                                            border-top-right-radius: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.inner-item-full{
                        .progress-inboxs{
                            .progress-inboxs-bar{
                                .t-progress{
                                    .progress-bar{
                                        .bar-core{
                                            border-bottom-right-radius: 6px;
                                            border-top-right-radius: 6px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.inner-item-cyan{
                        .t-progress{
                            .progress-bar{
                                .bar-core{
                                    background-color: #00FFFF;
                                }
                            }
                        }
                    }
                    &.inner-item-magenta{
                        .t-progress{
                            .progress-bar{
                                .bar-core{
                                    background-color: #E0367C;
                                }
                            }
                        }
                    }
                    &.inner-item-green{
                        .t-progress{
                            .progress-bar{
                                .bar-core{
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                    &.inner-item-black{
                        .t-progress{
                            .progress-bar{
                                .bar-core{
                                    background-color: #000000;
                                }
                            }
                        }
                    }
                    &.inner-item-yellow{
                        .t-progress{
                            .progress-bar{
                                .bar-core{
                                    background-color: #F4DA58;
                                }
                            }
                        }
                    }
                    &.inner-item-none{
                        width: 100%;
                        .progress-inboxs{
                            width: 100%;
                            margin: 2.5rem;
                            border: none;
                            .progress-inboxs-bar{
                                font-size: 2.5rem;
                                color: #333333;
                                text-align: left;
                                line-height: 48px;
                            }
                        }
                    }
                    &.inner-item-less{
                        .progress-inboxs{
                            position: relative;
                            border: 1px solid rgba(255,83,77,1);
                            &:after{
                                content: '墨量即将耗尽';
                                width: 20rem;
                                position: absolute;
                                top: 0;
                                left: 50%;
                                font-size: 2rem;
                                font-weight: bold;
                                color: #FF534D;
                                text-align: center;
                                line-height: 36px;
                                margin: 4px 0 4px -10rem;
                            }
                            .progress-inboxs-bar{
                                font-size: 2rem;
                                font-weight: bold;
                                color: #FF534D;
                                text-align: center;
                                line-height: 48px;
                            }
                        }
                    }
                    &.inner-item-empty{
                        .progress-inboxs{
                            border: 1px solid rgba(255,83,77,1);
                            .progress-inboxs-bar{
                                font-size: 2rem;
                                line-height: 46px;
                                font-weight: bold;
                                color: #FF534D;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

.demoItem {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.setting-item{
    height: 8rem;
    line-height: 8rem;
    background-color: white;
    text-align: center;
    font-size: 3rem;
    border: 1px solid rgb(234, 234, 234);
    &.setting-current{
        background: rgba(228, 237, 255, 1);
    }
}

.setting-item:active{
    background: rgba(228, 237, 255, 1);
}