.print-setup{
    .setup-title {
        font-size : 2rem;
        height : 5rem;
        line-height : 5rem;
        padding-left : 2rem;
    }

    .print-list-wrap {
        padding : 2rem;
    }

    .print-list-wrap-single {
        display : block;
        padding : 2.5rem 2rem;
    }

    .print-list-wrap-single-tap:active{
        background: rgba(31,56,88,0.1);
    }

    .print-list-img {
        width : 2rem;
        height : 2rem;
        border-radius : 50%;
        margin-right : 2rem;
        margin-left : .5rem;
    }

    .print-list-text-content {
        margin-right : 2rem;
    }

    .print-list-text-content-single {
        line-height : 3rem;
    }

    .print-list-arrow{
        position: relative;
        right: -2rem;
    }

    .print-list-status{
        font-size: 2.17rem;
        color: #5D85E0;
        width: 8rem;
        height: 4rem;
        line-height: 4rem;
        border: 1px solid #5D85E0;
        border-radius: 2rem;
        text-align: center;
    }

    .print-list-status-update{
        display: inline-block;
        color:#fff;
        background-color: #5D85E0;
        border: 1px solid #fff;
    }

    .print-list-title {
        color : #333;
        font-size : 2rem;
        line-height : 2rem;
    }

    .print-list-title-single {
        font-size : 3rem;
        color : #333;
        padding-bottom : 0;
    }

    .print-list-text {
        color : #999;
        font-size : 2rem;
        line-height : 18px;
    }

    #setup-select-field{
        .t-field-box{
            font-size: 3rem;
            padding: 2.5rem 2rem;
            .t-field-label{
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                flex: 1;
            }

            .t-cascade-select-field-placeholder, .t-cascade-select-field-value{
                font-size: 3rem;
                color: #222;
                padding-bottom: 0;
                text-align: right;
                height: 3rem;
                line-height: 3rem;
            }

            .t-field-icon{
                display: none;
            }
        }
    }
}

.t-slot-body li{
    font-size: 3rem;
}

.t-slot-header{
    font-size: 3rem;
    height: 8rem;
    line-height: 8rem;
    .t-slot-confirm{
        color: rgba(31,56,88,0.6);
        &.enable{
            color: #477FFF;
        }
    }
}

.t-slot-title{
    font-size: 2.5rem;
}

.t-slot-pane{
    touch-action: pan-y pinch-zoom;
    .t-slot-columns{
        font-size: 2.5rem;
        height: 6rem;
        line-height: 6rem;
    }
    .t-slot-body{
        height: 24rem;
        .t-slot-body{
            ul{
                li{
                    font-size: 3rem;
                    height: 4rem;
                    line-height: 4rem;
                }
            }
        }
    }
}
.swiper-container {width: 100%; height: 100%;}
.swiper-slide {margin: 3rem 3rem 3rem 0;left: 7rem;width: 47rem;height: 66rem;text-align: center; font-size: 18px; /* Center slide text vertically */ display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;overflow: hidden;background: rgba(255,255,255,1);
    box-shadow: 0px 0px 27px 0px rgba(46,57,101,0.1);}
.swiper-slide > div{border-radius: 8px;background-size: 100% 100%; background-repeat: no-repeat;}
.swiper-slide > div img{border-radius: 8px;}
.swiper-slide .swiper-slide-img{display: none;}
.swiper-slide .swiper-slide-loading-img{width:100%;height:100%;background: url(../../images/loading.gif) no-repeat center;display: block;}
.print-list-wrap {
    padding : 2rem;
}

.print-list-wrap-single {
    display : block;
    padding : 2.5rem 2rem;
}

.print-list-wrap-single-tap:active{
    background: rgba(31,56,88,0.1);
}

.print-list-title-single {
    font-size: 3rem;
    color: #222;
    padding-bottom: 0;
    &.print-list-title-single-name{
        font-size: 2.5rem;
        max-width: 32rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align:right;
    }
}

.tip {
  padding: 10px;
}

.print-list-text-content-single {
    line-height : 4rem;
    .line {
        .number-picker {
            float: right;
            width: 16rem;
            height: 4rem;
            line-height: 4rem;
            .rc-input-number-input-wrap{
                height: 4rem;
                line-height: 4rem;
                .rc-input-number-input{
                    font-size: 2rem;
                    height: 4rem;
                    line-height: 4rem;
                }
            }
            .rc-input-number-handler-up{
                border: 0;
                width: 4rem;
                height: 4rem;
                line-height: 4rem;
                background-image: url(../../images/add@3x.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                display: block;
                &.rc-input-number-handler-up-disabled{
                    background-image: url(../../images/add@3x.png);
                }
                svg{
                    fill: transparent;
                }
            }
            .rc-input-number-handler-down{
                border: 0;
                width: 4rem;
                height: 4rem;
                line-height: 4rem;
                background-image: url(../../images/subtract@3x.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                display: block;
                &.rc-input-number-handler-down-disabled{
                    background-image: url(../../images/subtract@3x.png);
                }
                svg{
                    fill: transparent;
                }
            }
        }
    }
}
.print-preview{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    .preview-title{
        position: relative;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
        .preview-title-device{
            position: relative;
            .preview-title-device-text{
                margin-right: 2rem;
                div{
                    float: left;
                }
                p{
                    float: left;
                    font-size: 3rem;
                }
            }
            .preview-title-device-icon{
                position: absolute;
                right: 1rem;
                top: 3rem;
            }
            .print-img-status{
                width: 2rem;
                height: 2rem;
                margin: 1rem .5rem;
                &.print-status-success, &.print-status-error, &.print-status-offline, &.print-status-empty{
                    width: 2rem;
                    height: 2rem;
                    display: block;
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                }
                &.print-status-success{
                    background-image:url(../../images/check@3x.png)
                }
                &.print-status-error{
                    background-image:url(../../images/Notice@3x.png)
                }
                &.print-status-empty{
                    background-image:url(../../images/Notice@3x.png)
                }
                &.print-status-offline{
                    background-image:url(../../images/off_line@3x.png)
                }
            }
        }
        
        .preview-title-sheet{
            .preview-title-sheet-num{
                margin-right:2rem;
            }
        }
    }
    .preview-box{
        position: relative;
        width: 100%;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        background-color: #f2f8ff;
        .preview-container{
            .preview-inner{
                height: 66rem;
            }
        }
        .preview-nav{
            position:relative;
            bottom:0;
            left:0;
            height:18rem;
            background-color: #f2f8ff;
            overflow: hidden;
            &.flexfixed{
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
            }
            .preview-reference{
                font-size: 3rem;
                width: 100%;
                height: 3rem;
                line-height: 3rem;
                text-align: center;
                margin: 0 auto;
                color: #999999;
                margin-top: 2rem;
                .preview-before{
                    color: #5D85E0;
                }
                .preview-after{
                    color: #999999;
                }
            }
            .preview-print{
                margin: 0 3rem;
                a.preview-btn{
                    -webkit-box-flex: 1;
                    -moz-box-flex: 1 1 auto;
                    -webkit-flex: 1 1 auto;
                    -ms-flex: 1 1 auto;
                    flex: 1 1 auto;
                    display: block;
                    height: 100%;
                    width: 100%;
                    text-align: center;
                    background-color: #5D85E0;
                    color: #fff;
                    font-size: 3rem;
                    border-radius: 4rem;
                    height: 8rem;
                    line-height: 8rem;
                    margin: 2rem auto 2rem;
                    &:active {
                        background: #35a4f2;
                        color: #fff
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 640px) and (max-height: 1136px){
    .print-preview{
        .print-list-wrap-single{padding: 1.5rem 2rem;}
        .preview-title{
            .preview-title-device{
                .preview-title-device-icon {
                    position: absolute;
                    right: 1rem;
                    top: 2rem;
                }
            }
        }
        .preview-box{
            .preview-nav{
                .preview-reference {
                    height: 2rem;
                    line-height: 2rem;
                }
            } 
        } 
    }
}

@media (min-width:662px){
    .print-preview{
        .print-list-wrap-single{padding: 2rem 2rem;}
    }
}
@media (min-width:876px){
}
@media (min-width:1090px){}
@media (min-width:1276px){}
@media (min-width:1390px){}
@media (min-width:1604px){}