<extend name="base/base" />
<block name="mystyle">
    <style>
    .layui-upload-list{
        width:200px;height:200px;
    }
    .layui-upload-list img{ width:100%;}
    </style>
</block>
<block name="body">
 <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
  <legend>新增/修改字体</legend>
</fieldset>
 <div class='' style='    width: 899px;
    padding: 20px 0 10px 20px;' >
<form class="layui-form layui-form-pane form-horizontal" action="{:url($_toMethod)}" method="post"  validatable="true" name="form1" id="form1" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{$app.id|default=''}">


  <div class="layui-form-item" >
      <label class="layui-form-label" pane><span class="layui-badge-dot "></span>&nbsp;字体名称</label>
    <div class="layui-input-block">
     <input type="text" name="name" placeholder="请输入字体名称" required class="layui-input" value="{$app.name|default=''}">
    </div>
  </div>


    <div class="layui-form-item" >
        <label class="layui-form-label" pane style="width: 137px">
            <span class="layui-badge-dot "></span>
            &nbsp;上传字体包</label>
        <div class="layui-input-block">
            <input type="hidden" name="font_url" id="font_url" >
            <div class="layui-upload">
                <button type="button" class="layui-btn layui-btn-normal" id="test8">选择文件</button>
                <button type="button" class="layui-btn" id="test9">开始上传</button>
                <div id="fileQueue"></div>

                <div id="showresult" style="">

                    <if condition="isset($app['font_url']) && !empty($app['font_url'])">
                        <div class="pic-upload">
                            <!--<span class="pic-upload-close btn btn-danger btn-sm" onclick="delImgByupload('file_upload','down_url','{$app.font_url}')">-->
                            <!--<i class="ace-icon fa fa-trash-o bigger-110"></i>-->
                            <!--</span>-->
                            <a target="_blank"  href="{:url('Client/down_file')}?id={$app.id|default=''}"><img src="/img/files.jpg"></a>
                        </div>
                        <else />
                    </if>
                </div>
                <input type='hidden' name='down_url' id="down_url" value="{$app.font_url|default=''}">

            </div>
        </div>
    </div>


    <div class="layui-form-item">
    <div class="">
     <button class="layui-btn dopost" lay-submit  url="{:url($_toMethod)}" lay-filter="myform"  target-form="layui-form">立即提交</button>
      <a  class="layui-btn layui-btn-primary" href="#" onclick="javascript:history.go(-1);"><i class='iconfont '>&#xe697;</i>返回列表</a>
    </div>
  </div>
</form>
 </div>

</block>
<block name='script'>
<link href="__PUBLIC__/kindeditor/themes/default/default.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
<script type="text/javascript" src="__PUBLIC__/kindeditor/kindeditor-all.js" charset="utf-8"></script>
<script type="text/javascript" src="__PUBLIC__/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/jquery.uploadify.min.js"></script>

<script>
//Demo
layui.use('form', function(){
  var form = layui.form;
  //监听提交
  form.on('submit(myform)', function(data){
   // layer.msg(JSON.stringify(data.field));
    doAjaxPost($(".dopost"));
    return false;
  });
  


  
});
</script>
    <script>
        layui.use(['form', 'layedit', 'laydate'], function(){
            var form = layui.form
                    ,layer = layui.layer
                    ,layedit = layui.layedit
                    ,laydate = layui.laydate;

            //日期
            laydate.render({
                elem: '#date'
            });
            laydate.render({
                elem: '#date1'
            });

            //创建一个编辑器
            var editIndex = layedit.build('LAY_demo_editor');


            //监听提交
            form.on('submit(demo1)', function(data){
                layer.alert(JSON.stringify(data.field), {
                    title: '最终的提交信息'
                });
                return false;
            });




        });
    </script>
    <script>
        layui.use('upload', function() {
            var $ = layui.jquery
                    , upload = layui.upload;
            //选完文件后不自动上传
            upload.render({
                elem: '#test8'
                ,url: '/admin/upload/upload'
                ,accept: 'file' //普通文件
                ,auto: false
                //,multiple: true
                ,bindAction: '#test9'
                ,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                    layer.load(); //上传loading
                }
                ,done: function(res){
                    layer.closeAll('loading'); //关闭loading
                    console.log(res);
                    //如果上传失败
                    if(res.code == 0){
                        return layer.msg('上传失败');
                    }
                    if(res.code == 1){
                        console.log(res.data);
                        $('#font_url').val(res.data.show_url);
                        return layer.msg('上传成功');
                    }
                    //上传成功
                }
            });
        })
    </script>
<script>
//    $(document).ready(function() {
        //高亮显示
        highlight_subnav('menu_client','menu_font_list');
//        var upload_url="http://admin.centerwl.com/{$app.url|default=''}";
//        var is_disable ="0";
//        doUploadFile('file_upload','down_url',upload_url,is_disable,'fileQueue','200MB','*.apk;*.jpg');
//    });
</script>
</block>
