<extend name="base/base" />
<block name="mystyle">
<link rel="stylesheet" href="__PUBLIC__/fancybox/jquery.fancybox.css">
    <style>
        .layui-form-switch{width:55px !important;}
        .layui-table-cell {
            height:75px !important;
            /*width:150px !important;*/
            display: flex;
            justify-content: center;
            align-items: center;
        }
        body{background: #f5f5f5}

    </style>
</block>
<block name="body">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>图标列表</legend>
    </fieldset>
    <form class="layui-form layui-form-pane search-form" action="{:url()}" method="post" >
        <div class="searchDiv layui-row layui-col-space10">

            <div class="layui-col-md3">
                <div class="layui-form-item" >
                    <label class="layui-form-label" pane>图标名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name"    placeholder="请输入图标名称" style="min-width:200px;" autocomplete="off" class="layui-input" value="{:input('name','')}">
                    </div>
                </div>
            </div>




            <div class="layui-col-md3">
                <div class="layui-form-item" >
                    <label class="layui-form-label" pane>图标名称</label>
                    <div class="layui-input-block">
                        <?php   $select =!isset($app['type_name'])?'':$app['type_name'];  echo (model('Ui')->getModelSelectLists('admin/Icons','getTypeNameList','','type_name','type_name','type_name','请选择','',$select)); ?>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3">
                <div class="layui-form-item" >
                    <div class="">
                        <a class="layui-btn " id='search'   url="{:url('icons_list')}" lay-filter="myform"  target-form="layui-form"><i class='iconfonts'>&#xe63d;</i>搜索</a>
                        <a  class="layui-btn layui-btn-primary" href="{:url('icons_list')}"><i class='iconfonts'>&#xe662;</i>重置</a>
                    </div>
                </div>
            </div>


        </div>
    </form>

    <div class='layui-row layui-col-space10' style='padding:12px 15px;'>
        <a href="{:url('icons_add')}" class='layui-btn'><i class="iconfont">&#xe6b9;</i>新增图标</a>
        <a  ope="open" model="Icons" url="{:url('icons_change_status')}"  onclick="change_status($(this));" class='layui-btn layui-btn-normal'><i class="iconfont">&#xe901;</i>启用</a>
        <a  ope="close" model="Icons" url="{:url('icons_change_status')}"  onclick="change_status($(this));" class='layui-btn layui-btn-danger'><i class="iconfont">&#xe69a;</i>禁用</a>
        <a  class='layui-btn layui-btn-danger' ope="delete" model="Icons" url="{:url('icons_change_status')}"  onclick="change_status($(this));"><i class="layui-icon">&#xe640;</i>删除选中</a>
    </div>
    <table class="layui-table" lay-data="{height:'full', url:'/admin/Client/getIconsList/',page:true,limit:10,size:'lg',id:'tabletest',done:test}" lay-filter='thetable' >
        <thead>
        <tr>
            <th lay-data="{checkbox:true}"></th>
            <th lay-data="{field:'id', width:100}">id</th>
            <th lay-data="{field:'name', width:100}">图标名称</th>
            <th lay-data="{field:'type_name', width:100}">图标类别</th>
            <th lay-data="{field:'picture', width:200, templet: '#nameTpl'}">图片</th>
            <th lay-data="{field:'status', width:100,templet: '#statusTpl'}">状态</th>
            <th lay-data="{field:'create_time', width:150}">发布时间</th>
            <th lay-data="{field:'create_name', width:100}">图标创建人</th>
            <th lay-data="{width:200,toolbar:'#opebar'}">操作</th>

        </tr>
        </thead>
    </table>
    <div class="img_pic">
        <img src="" alt="" class="bigimg">
        <div class="mask">
            <img src="/jQuery/img/close.png" alt="">
        </div>
    </div>


</block>
<block name='script'>
    <script type="text/javascript" src="/jQuery/zoom.js"></script>
    <script type="text/javascript" src="/jQuery/jquery.js"></script>
    <script src="__PUBLIC__/fancybox/jquery.fancybox.js" charset="utf-8"></script>
    <script type="text/html" id="statusTpl">
        {{#  if(d.status == '正常'){ }}
        <i class="iconfont" style="color:#1E9FFF;">{{d.status}}</i>
        {{#  } else { }}
        <i class="iconfont" style="color:#ff0e07;">{{d.status}}</i>
        {{#  } }}
    </script>
    <script type="text/html" id="opebar">
        <a class="layui-btn layui-btn-small" lay-event="edit" style='text-align:center;'><i class='iconfont'>&#xe910;</i>编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-small one_del" ope="delete" model="icons" url="{:url('icons_change_status')}" lay-event="del" style='text-align:center;'><i class="layui-icon">&#xe640;</i>删除</a>
    </script>
    <script type="text/html" id="nameTpl">
        <a class="fancybox-piclayer" href="{{d.picture}}"><img src="{{d.picture}}"   style="width:100%;height:100%;"></a>
    </script>
    <script type="text/javascript" >
        function showpic(){

            var obj = new zoom('mask', 'bigimg','pic');
            obj.init();
        }
    </script>
    <script>
        var thechoose="";
        layui.use('table', function(){
            var  table = layui.table;
            table.on('tool(thetable)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值
                var tr = obj.tr; //获得当前行 tr 的DOM对象
                var ondel=tr.find(".one_del");

                if(layEvent === 'edit'){
                    window.location.href="icons_add?id="+data.id;
                } else if(layEvent === 'del'){ //删除
                    thechoose=data.id;
                    change_status(ondel);
                };
            });


            /*****多选******/
            table.on('checkbox(thetable)', function(obj){
                var checkStatus = table.checkStatus('tabletest'); //test即为基础参数id对应的值
                var thedata =checkStatus.data;
                var newarr =new Array();
                if(thedata.length>0){

                    for(i=0;i<thedata.length;i++){
                        newarr[i]=thedata[i].id;
                    }
                    thechoose =newarr.join(',');
                }else{
                    thechoose="";
                }
            });
        });

        //搜索功能
        $("#search").click(function(){
            var url = $(this).attr('url');
            var query  = $('.search-form').find('input,select').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            console.log(url);
            window.location.href = url;
        });


    </script>
    <script>
        layui.use('form', function(){
            var form = layui.form;
            form.on('switch(status)', function(data){
                console.log(data.elem); //得到checkbox原始DOM对象
                console.log(data.elem.checked); //开关是否开启，true或者false
                console.log(data.value); //开关value值，也可以通过data.elem.value得到
                console.log(data.othis.prev().attr('ope')); //得到美化后的DOM对象
                var one_change=data.othis.prev();
                thechoose=data.value;
                change_status(one_change);
            });
            form.on('checkbox(is_hand)', function(data){
                var the_status =data.elem.checked;
                //  var the_value =$("#type_name").val();
                $("#theselect").toggle();
                $("#theselect2").toggle();
                if(the_status==true){
                    $("#type_name").attr('disabled',true);
                    $("#type_name2").removeAttr('disabled');
                }else{
                    $("#type_name2").attr('disabled',true);
                    $("#type_name").removeAttr('disabled');
                }
                console.log(data.elem.checked);
            });
        });
    </script>
    <script>
        //    $(document).ready(function() {
        //高亮显示
        highlight_subnav('menu_client','menu_icons_list');
        function test(){
             $(".fancybox-piclayer").fancybox({
                     openEffect  : 'none',
                     closeEffect	: 'none',
                     helpers : {
                             title : {
                                     type : 'over'
                             }
                     }
             });
        } 
        
        //        var upload_url="http://admin.centerwl.com/upload/kjuploadfile.html";
        //        var is_disable ="0";
        //        doUploadFile('file_upload','down_url',upload_url,is_disable,'fileQueue','200MB','*.apk;*.jpg');
        //    });
    </script>
</block>
