<extend name="base/base" />
<block name="mystyle">
    <style>
    .layui-upload-list{
        width:200px;height:200px;
    }
    .layui-upload-list img{ width:100%;}
    </style>
</block>
<block name="body">
 <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
  <legend>新增/修改图标</legend>
</fieldset>
 <div class='' style='    width: 899px;
    padding: 20px 0 10px 20px;' >
<form class="layui-form layui-form-pane form-horizontal" action="{:url($_toMethod)}" method="post"  validatable="true" name="form1" id="form1" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{$app.id|default=''}">


  <div class="layui-form-item" >
      <label class="layui-form-label" pane><span class="layui-badge-dot "></span>&nbsp;图标名称</label>
    <div class="layui-input-block">
     <input type="text" name="name" placeholder="请输入图标名称" required class="layui-input" value="{$app.name|default=''}">
    </div>
  </div>


  <div class="layui-form-item" >
    <label class="layui-form-label"><span class="layui-badge-dot "></span>&nbsp;图标类别</label></label>
    <div class="layui-input-inline">
      
      <div class="layui-select-title">
          <div class="layui-row">
              <div class="layui-col-md10" id="theselect">
                    <?php   $select =!isset($app['type_name'])?'':$app['type_name'];  echo (model('Ui')->getModelSelectLists('admin/Icons','getTypeNameList','','type_name','type_name','type_name','请选择','',$select)); ?>
              </div>
              <div class="layui-col-md10" id="theselect2" style="display:none;">
                    <input type="text" name="type_name"  disabled lay-verify="" id="type_name2" value="{$app.type_name|default=''}" placeholder="请输入图标类别" autocomplete="off" class="layui-input"> 
    
              </div>
              <div class="layui-col-md2">
           <input type="checkbox"  lay-filter='is_hand' title="手填" value="1">
              </div>
          </div>
        </div>     
    </div>
  </div>
    
    <input type="hidden" name="picture" id="picture" >
    <div class="layui-upload">
        <button type="button" class="layui-btn" id="test1">选择图标</button>
        <button type="button" class="layui-btn" id="submit">上传图标</button>
        <div class="layui-upload-list">
            <img class="layui-upload-img" id="demo1" src="{$app.picture|default=''}">
            <p id="demoText"></p>
        </div>
    </div>


    <div class="layui-form-item">
    <div class="">
     <button class="layui-btn dopost" lay-submit  url="{:url($_toMethod)}" lay-filter="myform"  target-form="layui-form">立即提交</button>
      <a  class="layui-btn layui-btn-primary" href="#" onclick="javascript:history.go(-1);"><i class='iconfont '>&#xe697;</i>返回列表</a>
    </div>
  </div>
</form>
 </div>

</block>
<block name='script'>
<link href="__PUBLIC__/kindeditor/themes/default/default.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
<script type="text/javascript" src="__PUBLIC__/kindeditor/kindeditor-all.js" charset="utf-8"></script>
<script type="text/javascript" src="__PUBLIC__/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/jquery.uploadify.min.js"></script>

<script>
//Demo
layui.use('form', function(){
  var form = layui.form;
  //监听提交
  form.on('submit(myform)', function(data){
   // layer.msg(JSON.stringify(data.field));
    doAjaxPost($(".dopost"));
    return false;
  });
  
form.on('checkbox(is_hand)', function(data){
    var the_status =data.elem.checked;
  //  var the_value =$("#type_name").val();
    $("#theselect").toggle();
    $("#theselect2").toggle();
    if(the_status==true){
        $("#type_name").attr('disabled',true);
        $("#type_name2").removeAttr('disabled');
    }else{
        $("#type_name2").attr('disabled',true);
        $("#type_name").removeAttr('disabled');
    }
    console.log(data.elem.checked);
}); 

  
});
</script>
    <script>
        layui.use(['form', 'layedit', 'laydate'], function(){
            var form = layui.form
                    ,layer = layui.layer
                    ,layedit = layui.layedit
                    ,laydate = layui.laydate;

            //日期
            laydate.render({
                elem: '#date'
            });
            laydate.render({
                elem: '#date1'
            });

            //创建一个编辑器
            var editIndex = layedit.build('LAY_demo_editor');


            //监听提交
            form.on('submit(demo1)', function(data){
                layer.alert(JSON.stringify(data.field), {
                    title: '最终的提交信息'
                });
                return false;
            });




        });
    </script>
    <script>
        layui.use('upload', function() {
            var $ = layui.jquery
                    , upload = layui.upload;
            //普通图片上传
            var uploadInst = upload.render({
                elem: '#test1'
                , url: '/admin/upload/upload'
                ,auto: false
                //,multiple: true
                ,bindAction: '#submit'
                , before: function (obj) {
                    //预读本地文件示例，不支持ie8
                    obj.preview(function (index, file, result) {
                        $('#demo1').attr('src', result); //图片链接（base64）
                    });
                    layer.load(); //上传loading
                }
                ,done: function(res){
                    layer.closeAll('loading'); //关闭loading
                    console.log(res);
                    //如果上传失败
                    if(res.code == 0){
                        return layer.msg('上传失败');
                    }
                    if(res.code == 1){
                        console.log(res.data);
                        $('#picture').val(res.data.show_url);
                        return layer.msg('上传成功');
                    }
                    //上传成功

                }
                , error: function () {
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function () {
                        uploadInst.upload();
                    });
                }
            });
        })
    </script>
<script>
     //高亮显示
    highlight_subnav('menu_client','menu_icons_list');

</script>
</block>
