blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,td,textarea,th,ul{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
li{list-style:none}
caption,th{text-align:left}
q:after,q:before{content:""}
input:password{ime-mode:disabled}
:focus{outline:0}
*{-box-sizing:border-box;-overflow:hidden;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;font-size:inherit;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;line-height:inherit;outline:0;z-index:0;color:inherit;text-decoration:inherit;font-family:inherit;visibility:inherit}
html{position:absolute;top:0;left:0;right:0;bottom:0;-ms-user-select:none;-moz-user-select:none;user-select:none;font-family:-apple-system-font,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;line-height:1;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;touch-action: manipulation;}
body,html{min-height:100%}
a,img{-webkit-touch-callout:none}
body,button,input,select,textarea{line-height:1.5;color:#333;font-family:-apple-system-font,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif}
input,textarea{-webkit-appearance:none}
textarea{overflow:auto;vertical-align:top;resize:none}
input:-webkit-autofill,select:-webkit-autofill,textarea:-webkit-autofill{box-shadow:inset 0 0 0 1000px #fff;-moz-box-shadow:inset 0 0 0 1000px #fff;-webkit-box-shadow:inset 0 0 0 1000px #fff}
body{margin:0;width:100%;height:100%;-webkit-user-select:none;user-select:none;background-color:#ffffff;overflow:hidden}
input{line-height:normal}
a{color:#5d85e0;text-decoration:none}
.clearfix{display:block;zoom:1}
.clearfix:after{content:" ";display:block;font-size:0;height:0;clear:both;visibility:hidden}
*,:after,:before{-webkit-tap-highlight-color:transparent}
.clear:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.hide{display:none!important}
.show{display:block!important}
.left{float:left}
.right{float:right}
img{image-orientation:from-image}
.iosScrollFix{line-height:1.47058824;overflow:hidden;position:relative}
.iosScrollFix:after,.iosScrollFix:before{content:"";position:absolute;left:0;right:0;height:1px;visibility:hidden;z-index:2}
.iosScrollFix:after{bottom:0;border-bottom:1px solid #e5e5e5;-webkit-transform-origin:0 100%;transform-origin:0 100%;-webkit-transform:scaleY(.5);transform:scaleY(.5)}
.iosScrollFix:before{top:0;border-top:1px solid #e5e5e5;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(.5);transform:scaleY(.5)}
/* skeleton screen */
#home-page-skeleton{visibility: hidden;position:relative;top: -100%;z-index:0;pointer-events:none;min-width:0;opacity:1;display:-moz-flexbox;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;flex-direction:row}
#home-page-skeleton.layered{z-index:-1}
#home-page-skeleton.animated{transition:opacity .5s}
#home-page-skeleton.hidden:not(.layered){opacity:0}
#home-container-skeleton{display:-moz-flexbox;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:column;flex-direction:column;-webkit-align-items:center;align-items:center;-ms-flex:1;-webkit-flex:1;flex:1}
#home-page-skeleton #masthead-ad{font-size:20px;font-weight:500;color:#e2e2e2;height: 2.1rem;display:-moz-flexbox;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;flex-direction:row;-webkit-align-items:flex-end;align-items:flex-end}
#home-page-skeleton .shelf-datums{margin: 0 5px;border-bottom:1px solid hsl(0,0%,93.3%);display:-moz-flexbox;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;flex-direction:row}
#home-page-skeleton .shelf-title{margin: .08rem 0;width: 100%;height: .45rem; line-height: .45rem; padding: 0 .15rem;}
#shelves{width:100%;overflow:hidden}
@media (min-width:662px){#shelves{width:642px}
}
@media (min-width:876px){#shelves{width:856px}
}
@media (min-width:1090px){#shelves{width:1070px}
}
@media (min-width:1276px){#shelves{width:856px}
}
@media (min-width:1390px){#shelves{width:1070px}
}
@media (min-width:1604px){#shelves{width:1284px}
}
#home-page-skeleton .datum-skeleton{width: 100%;}
#home-page-skeleton .datum-details{display: list-item;}
#home-page-skeleton .datum-details .thumbnail{width: 24%; height: .9rem; display: -webkit-inline-box;}
#home-page-skeleton .datum-details .thumbnail:nth-child(4n+0){margin-right: 0;}
#home-page-skeleton .datum-details .datum-title{width:210px;height:20px;margin:10px 0}
#home-page-skeleton .datum-details .datum-meta{width:130px;height:20px;margin:10px 0}
#home-page-skeleton .text-shell{border-radius:2px}
#home-page-skeleton .skeleton-bg-color{background-color:#e2e2e2}
#home-page-skeleton .skeleton-light-border-bottom{border-bottom:1px solid hsl(0,0%,93.3%)}
html[dark] #home-page-skeleton .skeleton-bg-color{background-color:#282828}
html[dark] #home-page-skeleton .shelf-datums,html[dark] #home-page-skeleton .skeleton-light-border-bottom{border-bottom:1px solid hsla(0,100%,100%,.08)}
html[dark] #home-page-skeleton #masthead-ad{color:#282828;border:5px solid #282828}
#home-page-skeleton.shimmer .skeleton-bg-color{animation-name:fade-out-in;animation-duration:2.05s;animation-timing-function:ease;animation-iteration-count:infinite}
#home-page-skeleton.shimmer .shelf-skeleton:nth-child(1) .shelf-title{animation-delay:0s}
#home-page-skeleton.shimmer .shelf-skeleton:nth-child(1) .thumbnail{animation-delay:75ms}
#home-page-skeleton.shimmer .shelf-skeleton:nth-child(1) .datum-title{animation-delay:.15s}
#home-page-skeleton.shimmer .shelf-skeleton:nth-child(1) .datum-meta{animation-delay:.225s}
#home-page-skeleton.shimmer .shelf-skeleton:nth-child(2) .shelf-title{animation-delay:.3s}
#home-page-skeleton.shimmer .shelf-skeleton:nth-child(2) .thumbnail{animation-delay:.375s}
#home-page-skeleton.shimmer .shelf-skeleton:nth-child(2) .datum-title{animation-delay:.45s}
#home-page-skeleton.shimmer .shelf-skeleton:nth-child(2) .datum-meta{animation-delay:.525s}
#home-page-skeleton.shimmer .shelf-skeleton:nth-child(3) .shelf-title{animation-delay:.6s}
#home-page-skeleton.shimmer .shelf-skeleton:nth-child(3) .thumbnail{animation-delay:.675s}
#home-page-skeleton.shimmer .shelf-skeleton:nth-child(3) .datum-title{animation-delay:.75s}
#home-page-skeleton.shimmer .shelf-skeleton:nth-child(3) .datum-meta{animation-delay:.825s}
#home-page-skeleton.shimmer .shelf-skeleton:nth-child(4) .shelf-title{animation-delay:.9s}
#home-page-skeleton.shimmer .shelf-skeleton:nth-child(4) .thumbnail{animation-delay:.975s}
#home-page-skeleton.shimmer .shelf-skeleton:nth-child(4) .datum-title{animation-delay:1.05s}
#home-page-skeleton.shimmer .shelf-skeleton:nth-child(4) .datum-meta{animation-delay:1.125s}
@keyframes fade-out-in{0%{opacity:1}
14%{opacity:.5}
51%{opacity:1}
to{opacity:1}
}
@-webkit-keyframes fade-out-in{0%{opacity:1}
14%{opacity:.5}
51%{opacity:1}
to{opacity:1}
}
/* page */
#page{position:relative;width:100%;height:100%;-webkit-box-orient:vertical;-o-flex-direction:column;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column;display:box;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex}
#page>#page-index>.header{position:relative;color:#fff;background-color:#5d85e0;box-shadow:0 0 1px #B2B2B2;-webkit-box-flex:0;-moz-box-flex:0 0 auto;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto}
#page>#page-index>.header>.back{position:absolute;top:0;bottom:0;font-size:3rem;line-height: 4rem;margin:auto 0;color:#fff;overflow:visible;}
#page>#page-index>.header>.back .icon-back{margin: 1.5rem auto;}
#page>#page-index>.header>.title{font-weight:700;font-size: 3rem;font-weight: normal;height:7rem;line-height:7rem;text-align:center;white-space:nowrap}
#page>#page-index>.header>.leftMenuBtn,#page>#page-index>.header>.rightMenuBtn{position:absolute;top:0;bottom:0;height:4rem;font-size:3rem;line-height: 4rem;margin:auto 0;color:#fff;overflow:visible}
#page>#page-index>.header>.back>svg,#page>#page-index>.header>.leftMenuBtn>svg,#page>#page-index>.header>.rightMenuBtn>svg{vertical-align:top;height:100%;fill:#fff}
#page>#page-index>.header>.leftMenuBtn{left:7rem}
#page>#page-index>.header>.rightMenuBtn{right:3rem}
/* content */
#page>.content{-webkit-box-flex:1;-moz-box-flex:1 1 auto;-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto;position:relative;width:100%}
#page>.content>div{position:absolute;width:100%;height:100%;color:#4A4A4A;overflow-y:auto;visibility:visible}
#page>.content>div.boardat-live{overflow:hidden}
/* navMenu */
#page>.navMenu{position:fixed;bottom:0;left:0;display:box;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-flex:0;-moz-box-flex:0 0 auto;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;position:relative;height:.5rem;background-color:#fff;margin-top:1px;-moz-box-shadow:0px -1px 0px #ececec; -webkit-box-shadow:0px -1px 0px #ececec; box-shadow:0px -1px 0px #ececec;}
#page>.navMenu.flexbox{-webkit-box-orient:vertical;-o-flex-direction:column;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column;display:box;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex}
#page>.navMenu.flexcontent{-webkit-box-flex:0 0 auto;-moz-box-flex:0 0 auto;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto}
#page>.navMenu.flexfixed{position: fixed;bottom: 0;left: 0;width: 100%;}
#page>.navMenu>a{-webkit-box-flex:1;-moz-box-flex:1 1 auto;-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto;display:block;height:100%;width:100%;text-align:center;color:#999;font-size:12px}
#page>.navMenu>a>i{display:block;height:.22rem;}

/* index */
#page-index{
  header{
    &.header-print{
      .print-box{
        position: relative;
        width: 100%;
        height: 37.5rem;
        background:rgba(93,133,224,1);
        .print-wrap{
          .print-inner{
            margin-bottom: 2rem;
            .print-img{
              margin: 0 auto;
              text-align: center;
              width: 15rem;
              height: 21rem;
              padding-top: 6rem;
              .print-img-inner, img.print-img-info{
                width: 15rem;
                height: 15rem;
              }
              .print-img-inner{
                position: relative; 
                .print-img-status{
                  position: absolute;
                  top: 1rem;
                  right: 1rem;
                  width: 3rem;
                  height: 3rem;
                   &.print-status-success, &.print-status-error, &.print-status-offline, &.print-status-empty{
                      width: 3rem;
                      height: 3rem;
                      display:block;
                      margin:0 auto;
                      background-repeat:no-repeat;
                      background-size:100% 100%;
                    }
                    &.print-status-success{
                      background-image:url(../../images/check@3x.png)
                    }
                    &.print-status-error{
                      background-image:url(../../images/Notice@3x.png)
                    }
                    &.print-status-empty{
                      background-image:url(../../images/Notice@3x.png)
                    }
                    &.print-status-offline{
                      background-image:url(../../images/off_line@3x.png)
                    }
                  }
                }
            }
            .print-progress{
              position: absolute;
              right: 17rem;
              top: 12rem;
              width: 8.17rem;
              height: 1.08rem;
              margin: 0 auto;
              transform: rotate(270deg);
              -ms-transform: rotate(270deg);
              -moz-transform: rotate(270deg);
              -webkit-transform: rotate(270deg);
              -o-transform: rotate(270deg);
              .progress-bar{
                background-color: transparent;
                .t-progress{
                    position: relative;
                    padding: 0;
                    height: 14px;
                    border-radius: 7px;
                    border: 1px solid rgba(255, 255, 255, .7);
                    .progress-bar{
                        height: 12px;
                        &.green-bar{
                          .bar-core{
                            height: 12px;
                            background-color: #fff;
                          }
                        }
                        &.blue-bar{
                          .bar-core{
                            height: 12px;
                            background-color: #FF534D;
                          }
                        }
                    }
                }
              }
            }
          }
          .print-title{
            .print-title-sup, .print-title-sub{
              width: 100%;
              height: 2rem;
              line-height: 2rem;
              color: #fff;
              text-align: center;
              font-size: 2rem;
              margin: 0 auto;
            }
            .print-title-sup{
              font-size: 2.5rem;
              height: 2.5rem;
              line-height: 2.5rem;
              margin-bottom: 1.5rem;
            }
            .print-title-sub{
              opacity: .7;
              i{
                width: 2rem;
                height: 2rem;
                background-color:#fff;
              }
            }
          }
        }
        .print-switch{
          position: absolute;
          right: 2rem;
          bottom: 2rem;
          .print-switch-btn{
            color: $color;
            font-size: 2rem;
            width: 8rem;
            height: 4rem;
            line-height: 4rem;
            display: inline-block;
            text-align: center;
            &:after{
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              width: 8rem;
              height: 4rem;
              line-height: 4rem;
              background-color: #fff;
              opacity: 0.3;
              border-radius: 2rem;
              box-shadow: 0rem 9rem 8rem 0rem rgba(42, 42, 42, 0.22);
              display: inline-block;
            }
          }
        }
      }
    }

  }
  
  .content{
    .content-nav{
      background-color: #FFFFFF;
      .nav-item{
        display: block;
        width: 100%;
        height: 16rem;
        
        a.item{
          position: relative;
          width: 100%;
          height: 16rem;
          display:-moz-flexbox;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:column;flex-direction:column;-webkit-align-items:center;align-items:center;-ms-flex:1;-webkit-flex:1;flex:1;
          border-bottom: 1px solid #EAEAEA;
          &:active{
            background-color: rgba(0,0,0,.1);
          }
          >div{
            -webkit-box-flex:1;-moz-box-flex:1 1 auto;-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto;display:block;
          }
          .item-img{
            width:7.5rem;
            height:6.67rem;
            margin: 5rem;
            position: absolute;
            left:0;
            img{
              width:7.5rem;
              height:6.67rem;
            }
          }
          .item-title{
            width: auto;
            height: 16rem;
            line-height: 16rem;
            font-size: 2.83rem;
            color: #333333;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            position: absolute;
            left: 18rem;
          }
        }
        &.nav-item-manage{
          a.item-unable{
            >.item-img{

            }
            >.item-title{
              color:#CCCCCC;
            }
          }
        }
      }
    }
  }
}