/* index */
#page-index{
  header{
    &.header-print{
      position: relative;
      width: 100%;
      height: 37.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto;
      .print-box{
        position: relative;
        width: 100%;
        height: 37.5rem;
        background:rgba(93,133,224,1);
        .print-wrap{
          .print-inner{
            position: relative;
            margin-bottom: 2rem;
            .print-img{
              margin: 0 auto;
              text-align: center;
              width: 15rem;
              height: 21rem;
              padding-top: 7rem;
              .print-img-inner{
                width: 15rem;
                height: 15rem;
              }
              img.print-img-info{
                width: 15rem;
                height: 12rem;
              }
              img.print-imgNone-info{
                width: 13rem;
                height: 11rem;
              }
              .print-img-inner{
                position: relative;
                .print-img-status{
                  position: absolute;
                  top: 1rem;
                  right: 1rem;
                  width: 3rem;
                  height: 3rem;
                   &.print-status-success, &.print-status-error, &.print-status-offline, &.print-status-empty{
                      width: 3rem;
                      height: 3rem;
                      display:block;
                      margin:0 auto;
                      background-repeat:no-repeat;
                      background-size:100% 100%;
                    }
                    &.print-status-success{
                      background-image:url(../../images/check@3x.png)
                    }
                    &.print-status-error{
                      background-image:url(../../images/Notice@3x.png)
                    }
                    &.print-status-empty{
                      background-image:url(../../images/Notice@3x.png)
                    }
                    &.print-status-offline{
                      background-image:url(../../images/off_line@3x.png)
                    }
                  }
                }
            }
            .print-progress{
              position: absolute;
              left: 50%;
              top: 14rem;
              margin: 0 auto;
              margin-left: 6.33rem;
              transform: rotate(270deg);
              -ms-transform: rotate(270deg);
              -moz-transform: rotate(270deg);
              -webkit-transform: rotate(270deg);
              -o-transform: rotate(270deg);
              &.print-progress-inboxs{
                left: 50%;
                top: 8rem;
                margin-left: 9.5rem;
              }
              .progress-wrap-bar{
                margin-top: 12px;
                .t-progress{
                    .progress-bar{
                       background-color: transparent;
                    }
                  }
                .progress-wrap-bar-long{

                }
                .progress-wrap-bar-short{

                }
                .progress-wrap-bar-more{
                  margin-top: 12px;
                  width: 70px;
                  height: 18px;
                  &:first-child{
                    margin-top: 30px;
                  }
                  &:last-child{
                    margin-top: 12px;
                  }
                  .t-progress{
                    height: 18px;
                  }
                  &.short-cyan-bar{
                    .t-progress{
                      .progress-bar{
                        .bar-core{
                          height: 12px;
                          background-color: #00FFFF;
                        }
                      }
                    }
                  }
                  &.short-magenta-bar{
                    .t-progress{
                      .progress-bar{
                        .bar-core{
                          height: 12px;
                          background-color: #E0367C;
                        }
                      }
                    }
                  }
                  &.short-green-bar{
                    .t-progress{
                      .progress-bar{
                        .bar-core{
                          height: 12px;
                          background-color: #fff;
                        }
                      }
                    }
                  }
                  &.short-red-bar{
                    .t-progress{
                      .progress-bar{
                        .bar-core{
                          height: 12px;
                          background-color: #E0367C;
                        }
                      }
                    }
                  }
                  &.short-blue-bar{
                    .t-progress{
                      .progress-bar{
                        .bar-core{
                          height: 12px;
                          background-color: #00AAF7;
                        }
                      }
                    }
                  }
                  &.short-black-bar{
                    .t-progress{
                      .progress-bar{
                        .bar-core{
                          height: 12px;
                          background-color: #000000;
                        }
                      }
                    }
                  }
                  &.short-yellow-bar{
                    .t-progress{
                      .progress-bar{
                        .bar-core{
                          height: 12px;
                          background-color: #F4DA58;
                        }
                      }
                    }
                  }
                }
                .t-progress{
                    position: relative;
                    padding: 0;
                    border-radius: 9px;
                    border: 1px solid rgba(255, 255, 255, .7);
                    overflow: hidden;
                    .progress-bar{
                        border-radius: 6px;
                        height: 12px;
                        padding: 1px;
                        .bar-core{
                          border-bottom-left-radius: 9px;
                          border-bottom-right-radius: 0;
                          border-top-right-radius: 0;
                          border-top-left-radius: 9px;
                        }
                        &.green-bar{
                          .bar-core{
                            height: 12px;
                            background-color: #fff;
                          }
                        }
                        &.blue-bar{
                          .bar-core{
                            height: 12px;
                            background-color: #FF534D;
                          }
                        }
                    }
                    .progress-bar-full{
                      .bar-core{
                        border-radius: 9px;
                      }
                    }
                }
              }
            }
          }
          .print-title{
            .print-title-sup, .print-title-sub{
              width: 100%;
              height: 2rem;
              line-height: 2rem;
              color: #fff;
              text-align: center;
              font-size: 2rem;
              margin: 0 auto;
            }
            .print-title-sup{
              font-size: 2.5rem;
              height: 2.5rem;
              line-height: 2.5rem;
              margin-bottom: 1.5rem;
            }
            .print-title-sub{
              opacity: .7;
              i{
                width: 2rem;
                height: 2rem;
                line-height: 2rem;
                background-color:transparent;
                visibility: hidden;
                vertical-align: middle;
                &.icon-notice{
                  visibility: visible;
                  display: inline-block;
                  margin-right: 1rem;
                  background-repeat:no-repeat;
                  background-size: 100% 100%;
                  background-image:url(../../images/Notice01@2x.png)
                }
              }
              span{
                font-size: 2rem;
                height: 2rem;
                line-height:2rem;
              }
            }
          }
        }
        .print-switch{
          position: absolute;
          right: 2rem;
          bottom: 2rem;
          .print-switch-btn{
            color: $color;
            font-size: 2rem;
            width: 8rem;
            height: 4rem;
            line-height: 4rem;
            display: inline-block;
            text-align: center;
            &:after{
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              width: 8rem;
              height: 4rem;
              line-height: 4rem;
              background-color: #fff;
              opacity: 0.3;
              border-radius: 2rem;
              box-shadow: 0rem 9rem 8rem 0rem rgba(42, 42, 42, 0.22);
              display: inline-block;
            }
          }
        }
      }
    }

  }
  
  .content{
    .content-nav{
      position: relative;
      height: auto;
      width: 100%;
      overflow-y: scroll;
      background-color: #FFFFFF;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      .nav-item{
        display: block;
        width: 100%;
        height: 16rem;
        
        a.item{
          position: relative;
          width: 100%;
          height: 16rem;
          display:-moz-flexbox;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:column;flex-direction:column;-webkit-align-items:center;align-items:center;-ms-flex:1;-webkit-flex:1;flex:1;
          border-bottom: 1px solid #EAEAEA;
          &:active{
            background-color: rgba(0,0,0,.1);
          }
          >div{
            -webkit-box-flex:1;-moz-box-flex:1 1 auto;-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto;display:block;
          }
          .item-img{
            width:7.5rem;
            height:6.67rem;
            margin: 5rem;
            position: absolute;
            left:0;
            img{
              width:7.5rem;
              height:6.67rem;
            }
          }
          .item-title{
            width: auto;
            height: 16rem;
            line-height: 16rem;
            font-size: 2.83rem;
            color: #333333;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            position: absolute;
            left: 18rem;
          }
        }
        &.nav-item-manage{
          a.item-unable{
            >.item-img{

            }
            >.item-title{
              color:#CCCCCC;
            }
          }
        }
      }
    }
  }
}

/* layer */
.layer-blank{
  .setting-item{
    color:#477FFF;
    margin: 0 auto;
    width: 59rem;
    height: 10rem;
    line-height: 10rem;
    border: 0;
    &:nth-child(odd){
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
    }
    &:nth-child(even){
      border-bottom-left-radius: 2rem;
      border-bottom-right-radius: 2rem;
      border-top: 1px solid #b0b3b8;
    }
    &:last-child{
      margin: 1rem auto 2rem;
      border-radius: 2rem;
    }
    &.setting-item-double{
      border-radius: 2rem;
    }
  }
}

@media (max-width: 640px){
  .layer-blank{
    .setting-item{
      width: auto;
      margin: 0 2rem;
      &:last-child{
        margin: 1rem 2rem 2rem;
      }
    }
  }
}